.username-input {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;

   padding-top: 64px;
   display: flex;
   flex-direction: column;
   align-items: center;

   color: var(--color_primary);
}

.username-input h1 {
   font-size: 4rem;
   font-weight: 900;
   text-align: center;
}

.username-input form {
   position: relative;
   display: flex;

   height: 60px;
   width: 60%;

   justify-content: center;
}

.username-input form input {
   position: absolute;
   left: 0;
   right: 0;

   font-size: 2rem;
   font-weight: 900;
   height: 100%;
   padding: 0 20px;

   color: var(--color_secondary);

   border-radius: 60px;
   border: none;
}

.username-input form input:focus {
   outline: none;
}

.username-input form button {
   height: 100%;
   width: 100px;
   border-radius: 60px;
   border: none;
   background-color: var(--color_tertiary);
   color: var(--color_secondary);
   font-size: 1.5rem;
   font-weight: 700;
   cursor: pointer;
}

.username-input p {
   font-size: 1.5rem;
   font-weight: 700;
   margin-top: 16px;
} 

.username-input form button {
   position: absolute;
   right: 0;
}

.signup-confirmation {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;

   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 100%;

   /* text color */
   color: var(--color_primary);
}

.signup-confirmation h1 {
   font-size: 3rem;
   text-align: center;
}

.signup-confirmation p {
   font-size: 1.5rem;
   font-weight: 600;
   text-align: center;
}

.signup-welcome {
   display: flex;
   position: relative;
   flex-direction: column;

   padding: 0 64px;

   justify-content: center;
   text-align: center;
}

.signup-welcome p .link {
   color: var(--color_tertiary);
   text-decoration: underline;
}

.signup-method {
   display: flex;
   flex-direction: column;

   justify-content: space-around;
   padding: 0 64px;
}

.signup-method .social-container {
   display: flex;
   justify-content: space-between;
   height: 100px;
   
}

.signup-method .social-container svg {
   border: 1px solid var(--color_primary);
   border-radius: 30px;
   width: 10%;
   height: auto;
   padding: 24px;
   cursor: pointer;
}

.signup-method .form-container {
   min-height: 30%;
}

.signup-method .form-container form {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.signup-method .form-container form label {
   margin-bottom: 8px;
   font-size: 1.5rem;
   font-weight: 700;
}

.signup-method .form-container form input {
   margin-bottom: 4px;
   height: 32px;
   border-radius: 20px;
   border: none;
   padding: 0 20px;
   font-size: 1.2rem;
   font-weight: 700;
}

.signup-method .form-container form input:focus {
   outline: 2px solid var(--color_tertiary);
}

.signup-method .form-container form .button-container {
   display: flex;
   justify-content: center;
   margin-top: 8px;
}

@media (max-width: 768px) {
   .username-input {
      padding: 32px;
   }

   .username-input h1 {
      font-size: 2rem;
   }

   .username-input form {
      height: 40px;
      width: 90%;
   }

   .username-input form input {
      font-size: 1.5rem;
   }

   .username-input form button {
      width: 40px;
   }

   .username-input p {
      font-size: 1rem;
      text-align: center;
   }

   .signup-confirmation {
      grid-template-columns: 1fr;
      grid-template-rows: 30% 1fr;
   }

   .signup-confirmation h1 {
      font-size: 2rem;
   }

   .signup-confirmation p {
      font-size: 1.2rem;
   }

   .signup-welcome {
      padding: 0 32px;
   }

   .signup-method {
      padding: 0 32px;
   }

   .signup-method .social-container {
      height: 80px;
      justify-content: space-around;
   }

   .signup-method .form-container {
      min-height: 50%;
   }

   .signup-method .form-container form input {
      height: 24px;
      font-size: 1rem;
   }

   .signup-method .form-container form label {
      font-size: 1.2rem;
   }
}
