:root {
   font-family: 'Roboto', sans-serif;
   --color_primary: #ffffff;
   --color_secondary: #383434;
   --color_tertiary: #23C065;
   --color_quaternary: #FE295A;

   --height_menu: 50px;
   --padding_menu: 25px;
}

::-webkit-scrollbar {
   display: none;
}

html {
   scroll-behavior: smooth;
}