:root {
   font-family: 'Roboto', sans-serif;
   font-size: 12px;
   --color_primary: #ffffff;
   --color_secondary: #383434;
   --color_tertiary: #23C065;
   --color_quaternary: #FE295A;

   --height_menu: 50px;
   --padding_menu: 25px;
}

::-webkit-scrollbar {
   display: none;
}

html {
   scroll-behavior: smooth;
}

.link {
   text-decoration: unset;
   color: unset;
   cursor: pointer;
}

/* Animation delays */
.delay-1 {
   animation-delay: 0.25s;
}

.delay-2 {
   animation-delay: 0.5s;
}

.delay-3 {
   animation-delay: 0.75s;
}

.delay-4 {
   animation-delay: 1s;
}